* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.navbar {
  background-color: rgb(240, 213, 255);
}

.special-card {
  background-color: rgb(100, 100, 255);
  border-radius: 20px;
  position: relative;
}
.hot-card > p {
  background: #ff4e4e;
  padding: 10px 10px;
  border-radius: 20px;
  position: absolute;
  top: -20px;
  right: 13px;
}
.card-body-convension {
  background-color: rgb(233, 250, 255);
  border-radius: 20px;
}
.card {
  border: none;
}
.card-body > ul {
  list-style-type: none;
  padding-left: 0px;
}
